:host{
    display: flex;
    justify-content: center;
    margin: 100px 0;

}

.mat-form-field{
    width: 100%;
    min-width: 400px;
    min-height: 100px;
}

mat-card-title,
mat-card-content{
    display: flex;
    justify-content: center;
    
}

button{
    width: 100%;
    background-color: #323436;
    color: white;
}

