<!-------------------------------------------------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">BuscoCredito.com</a>
</nav>

<img
  id="imageLogo"
  src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/Logo-BuscoCredito.png?alt=media&token=765d47cc-35d5-43a2-948a-fa9960dd09af"
/>

<div id="divCard">
  <mat-card>
    <h1 id="loginText">Registrarse</h1>
    <mat-card-content>
      <form #formRegister="ngForm" (ngSubmit)="onAddUser('', '')">
        <mat-form-field>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email"
            [(ngModel)]="email"
            required
            minlength="8"
            matInput
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            [(ngModel)]="password"
            required
            minlength="5"
            maxlength="10"
            matInput
          />
        </mat-form-field>

        <button type="submit" mat-raised-button>Registrarse</button>

        <a href="/login"><h3 id="linkRegister">¿Ya tienes una cuenta?</h3></a>
      </form>
    </mat-card-content>
  </mat-card>
</div>
