<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--  <img style="margin-right: 3px;"
      src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/logoBuscoCredito.png?alt=media&token=60230461-6d50-4fe0-bb99-d415c4f41dbd"
      width="76" height="45" class="d-inline-block align-top" alt="" loading="lazy">
-->
  <a class="navbar-brand" href="/login">BuscoCredito.com</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <!-------------------------------------------------------------------------------------------------------------------------->

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <!--    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a> -->
      </li>
    </ul>

    <!-------------------------------------------------------------------------------------------------------------------------->

    <li class="nav-item form-inline my-2 my-lg-0">
      <a
        style="color: white"
        class="nav-link"
        routerLink="/home"
        >Inicio</a
      >

      <ng-template #showLogin>
        <a
          style="color: white"
          class="nav-link"
          routerLink="/login"
          routerLinkActive="active"
          >Iniciar Sesion</a
        >

        <a
          style="color: white"
          class="nav-link"
          routerLink="/register"
          routerLinkActive="active"
          >Registrarse</a
        >
      </ng-template>

      <a
        style="color: white"
        class="nav-link"
        routerLink="/profile"
        routerLinkActive="active"
        >Perfil</a
      >

      <!-- <a style="color: white;" class="nav-link " routerLink="/about" *ngIf="authSvc.userData$ | async">Administrador</a>-->

      <a
        style="color: white"
        class="nav-link"
        routerLink="/login"
        (click)="onLogout()"
        >Cerrar Sesion</a
      >
    </li>
    <!-------------------------------------------------------------------------------------------------------------------------->
  </div>
</nav>

<!-------------------------------------------------------------------------------------------------------------------------->
<mat-form-field [formGroup]="newPostForm">
  <mat-label>Busqueda</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input formControlName="email">
</mat-form-field>

<!-------------------------------------------------------------------------------------------------------------------------->

<div class="contianer-btn-new">
  <button mat-stroked-button (click)="onNewPost()">
    <mat-icon>note_add</mat-icon>&nbsp; Nueva Solicitud
  </button>
</div>

<!-------------------------------------------------------------------------------------------------------------------------->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!--  -->
  <ng-container matColumnDef="nameUser">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!--mat-sort-header  -->
  <ng-container matColumnDef="moneyPost">
    <th mat-header-cell *matHeaderCellDef> Dinero </th>
    <td mat-cell *matCellDef="let element">$ {{element.montoSolicitado}} </td>
  </ng-container>

  <!--  -->
  <ng-container matColumnDef="tagsPost">
    <th mat-header-cell *matHeaderCellDef> Tipo de Prestamo </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoCredito}} </td>
  </ng-container>

  <!--  -->
  <ng-container matColumnDef="monthPost">
    <th mat-header-cell *matHeaderCellDef> Meses </th>
    <td mat-cell *matCellDef="let element"> {{element.plazo}} </td>
  </ng-container>

  <!-------------------------------------------------------------------------------------------------------------------------->

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">

      <button mat-stroked-button (click)="onEditPost(element)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-stroked-button color="warn" (click)="onDeletePost(element)">
        <mat-icon>delete</mat-icon>
      </button>

    </td>
  </ng-container>

  <!-------------------------------------------------------------------------------------------------------------------------->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-------------------------------------------------------------------------------------------------------------------------->
  <!-- NOT FOUND. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No se ha encontrado: "{{input.value}}"</td>
  </tr>
  <!-------------------------------------------------------------------------------------------------------------------------->

</table>

<!-------------------------------------------------------------------------------------------------------------------------->

<mat-paginator class="paginator" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

<!-------------------------------------------------------------------------------------------------------------------------->