<mat-card>
    <mat-card-header>
        <mat-card-title>Acerca de Busco Credito</mat-card-title>
        <mat-card-subtitle>Verison 0.0.1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            El crédito es un préstamo de dinero que genera un compromiso de devolución futura. El crédito es un préstamo de dinero que una parte otorga a otra, con el compromiso de que, en el futuro, quien lo recibe devolverá dicho préstamo en forma gradual (mediante el pago de cuotas) o en un solo pago y con un interés adicional que compensa a quien presta, por todo el tiempo que no tuvo ese dinero. Cuando el crédito es de consumo, éste permite disponer de una cantidad de dinero para la adquisición de bienes de consumo o el pago de servicios.
        </p>
    </mat-card-content>

</mat-card>