<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--  <img style="margin-right: 3px;"
      src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/logoBuscoCredito.png?alt=media&token=60230461-6d50-4fe0-bb99-d415c4f41dbd"
      width="76" height="45" class="d-inline-block align-top" alt="" loading="lazy">
-->
  <a class="navbar-brand" href="/login">BuscoCredito.com</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <!-------------------------------------------------------------------------------------------------------------------------->

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <!--    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a> -->
      </li>
    </ul>

    <!-------------------------------------------------------------------------------------------------------------------------->

    <li class="nav-item form-inline my-2 my-lg-0">
      <a
        style="color: white"
        class="nav-link"
        routerLink="/admin"
        >Inicio</a
      >

      <ng-template #showLogin>
        <a
          style="color: white"
          class="nav-link"
          routerLink="/login"
          routerLinkActive="active"
          >Iniciar Sesion</a
        >

        <a
          style="color: white"
          class="nav-link"
          routerLink="/register"
          routerLinkActive="active"
          >Registrarse</a
        >
      </ng-template>

      <a
        style="color: white"
        class="nav-link"
        routerLink="/profile"
        routerLinkActive="active"
        >Perfil</a
      >

      <!-- <a style="color: white;" class="nav-link " routerLink="/about"
                  *ngIf="authSvc.userData$ | async">Administrador</a>
-->
      <a
        style="color: white"
        class="nav-link"
        routerLink="/login"
        (click)="onLogout()"
        >Cerrar Sesion</a
      >
    </li>
    <!-------------------------------------------------------------------------------------------------------------------------->
  </div>
</nav>


IS User: {{ isUser }} IS Admin: {{ isAdmin }} IS Client: {{ isClient }}

<form (ngSubmit)="onSaveUser(profileForm.value)" [formGroup]="profileForm">
  <mat-card>
    <img width="120px" height="120px" [src]="currentImage" />
    <mat-card-header>
      <div class="label">
        <!--    <p>Change</p>
                (click)="inputImageProfile()"#inputImageProfile -->
        <input
          type="file"
          formControlName="photoURL"
          (change)="handdleImage(($event?.target?.files)[0])"
        />
      </div>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Name" formControlName="displayName" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Correo Electronico</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Uid</mat-label>
        <input matInput placeholder="phoneNumber" formControlName="uid" />
      </mat-form-field>

      <div class="mat-dialog-actions">
        <!--(click)="reloadPage()"-->
        <button type="submit" value="save" mat-raised-button>
          Confirmar Cambios
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
