<h2>Solicitar Credito</h2>

<mat-dialog-content class="dialog-content">
  <div class="divNewPost">
    <form [formGroup]="newPostForm" id="form">
      <mat-form-field>
        <h3>Nombre de la casa hogar o alvergue</h3>
        <input matInput id="casaHogar" />
      </mat-form-field>

      <mat-form-field>
        <h3>Nombre de la casa hogar o alvergue</h3>
        <input matInput id="casaHogar" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Detector</mat-label>
        <mat-select [(value)]="detector">
          <mat-option value="Bajo">Bajo</mat-option>
          <mat-option value="Alerta">Alerta</mat-option>
          <mat-option value="Promedio">Promedio</mat-option>
          <mat-option value="Alto">Bajo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email" />
      </mat-form-field>

      <button class="mat-flat-button" type="submit" [mat-dialog-close]="true">
        Terminar
      </button>
    </form>
  </div>
</mat-dialog-content>
