<!-------------------------------------------------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/login">BuscoCredito.com</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <!-------------------------------------------------------------------------------------------------------------------------->
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <!--    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a> -->
      </li>
    </ul>
    <!-------------------------------------------------------------------------------------------------------------------------->
    <li class="nav-item form-inline my-2 my-lg-0">
      <a style="color: white" class="nav-link" routerLink="/workers">Inicio</a>
      <!-- <a style="color: white;" class="nav-link " routerLink="/about" *ngIf="authSvc.userData$ | async">Administrador</a>-->
      <a
        style="color: white"
        class="nav-link"
        routerLink="/login"
        (click)="onLogout()"
        >Cerrar Sesion</a
      >
    </li>
    <!-------------------------------------------------------------------------------------------------------------------------->
  </div>
</nav>
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container" *ngIf="post$ | async as post; else loading">
  <mat-card id="mainCard">
    <mat-card-header class="nameTitle">
      <mat-card-title>
        <h1 id="nameUser">
          {{ post.nameUser }}
        </h1>
      </mat-card-title>
    </mat-card-header>
    <h1 style="color: white">
      {{ post.nombre }}
    </h1>
    <!--  <img matCardImage [src]="post.imagePost">-->
    <mat-card-content>
      <div>
        <mat-card class="divData">
          <h1>
            Tipo de Prestamo:
            <span class="data">
              {{ post.tipoCredito }}
            </span>
          </h1>
        </mat-card>

        <mat-card class="divData">
          <h1>
            Monto:
            <span class="data"> {{ post.montoSolicitado }} Pesos </span>
          </h1>
        </mat-card>

        <mat-card class="divData">
          <h1>
            Plazo: <span class="data"> {{ post.plazo }} Meses </span>
          </h1>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-------------------------------------------------------->
<mat-card id="cardOfertar">
  <div class="example-container">
    <form action="#" id="formBid">
      <mat-form-field appearance="fill" id="field">
        <mat-label class="labelsColor">Monto a Ofrecer</mat-label>
        <input matInput id="montoOfrecido" />
      </mat-form-field>
      <br />
      <!-------------------------------------------------------->
      <mat-form-field appearance="field" style="width: 100%; background-color: transparent;">
        <mat-label class="labelsColor">Pazo a Ofrecer</mat-label>
        <mat-select [(value)]="plazoOfrecer">
          <mat-option value="3 Meses">3 Meses</mat-option>
          <mat-option value="6 Meses">6 Meses</mat-option>
          <mat-option value="9 Meses">9 Meses</mat-option>
          <mat-option value="12 Meses">12 Meses</mat-option>
          <mat-option value="15 Meses">15 Meses</mat-option>
          <mat-option value="18 Meses">18 Meses</mat-option>
          <mat-option value="24 Meses">24 Meses</mat-option>
        </mat-select>
      </mat-form-field>

      <br />
      <!-------------------------------------------------------->
      <mat-form-field appearance="fill" id="field">
        <mat-label class="labelsColor">Tasa Anual a Ofrecer</mat-label>
        <input matInput id="tasaAnualOfrecer" />
      </mat-form-field>
      <br />
      <!-------------------------------------------------------->
      <mat-form-field appearance="fill" id="field">
        <mat-label class="labelsColor">Comisión Apertura</mat-label>
        <input matInput id="comisionApertura" />
      </mat-form-field>
      <br />
      <!-------------------------------------------------------->
      <mat-form-field appearance="fill" id="field">
        <mat-label class="labelsColor">Precio Seguro de Vida</mat-label>
        <input matInput id="precioSeguroVida" />
      </mat-form-field>
      <br />
      <!-------------------------------------------------------->
      <mat-form-field appearance="fill" id="field">
        <mat-label class="labelsColor">Amortización</mat-label>
        <input matInput id="amortizacion" />
      </mat-form-field>
      <br />
      <!-------------------------------------------------------->

      <button mat-raised-button type="submit" id="buttonSubmit">Ofertar</button>
    </form>
  </div>
</mat-card>
<!-------------------------------------------------------->

<ng-template #loading>
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
