<div class="container" *ngIf="posts$ | async as posts;else loading">
    <mat-card class="crearSolicitud">Solicitar un Credito</mat-card>
    <!--  {{posts$ | async | json}} -->

    <mat-card class="post-card" *ngFor="let post of posts" [routerLink]="['/post',post.id]">
  
       
        <div class="infoCards">

            <div>
                <button class="infoCardButtonName" mat-flat-button disabled>{{post.nameUser}}</button>

                <button class="infoCardButtonCredit" mat-flat-button disabled>{{post.tagsPost}}</button>

                <button class="infoCardButtonMoney" mat-flat-button disabled>{{post.moneyPost}}</button>

                <button class="infoCardButtonMonths" mat-flat-button disabled>{{post.monthPost}}</button>
            </div>

        </div>



        <img matCardImage [src]="post.imagePost">

        <!--    <mat-card-content>
            <p>
                {{post.contentPost}}
                {{post.nameUser}}
            </p>
   
        </mat-card-content>
         -->
        <!--
        <mat-card-actions>
            <mat-chip-list>
                <a class="tipoPrestamoText">Tipo de Prestamo:</a>
            
                <mat-chip class="tipoCredito" *ngFor="let tag of post.tagsPost" [ngClass]="tag">
                    {{tag}}
                </mat-chip>
            </mat-chip-list>
        </mat-card-actions>

-->
    </mat-card>

</div>


<ng-template #loading>
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>