<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--  <img style="margin-right: 3px;"
      src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/logoBuscoCredito.png?alt=media&token=60230461-6d50-4fe0-bb99-d415c4f41dbd"
      width="76" height="45" class="d-inline-block align-top" alt="" loading="lazy">
-->
  <a class="navbar-brand" href="/login">BuscoCredito.com</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>

    <li class="nav-item form-inline my-2 my-lg-0">
      <a style="color: white" class="nav-link" routerLink="/workers">Inicio</a>

      <ng-template #showLogin>
        <a
          style="color: white"
          class="nav-link"
          routerLink="/login"
          routerLinkActive="active"
          >Iniciar Sesion</a
        >

        <a
          style="color: white"
          class="nav-link"
          routerLink="/register"
          routerLinkActive="active"
          >Registrarse</a
        >
      </ng-template>

      <a
        style="color: white"
        class="nav-link"
        routerLink="/login"
        (click)="onLogout()"
        >Cerrar Sesion</a
      >
    </li>
  </div>
</nav>

<!-------------------------------------------------------------------------------------------------------->

<div class="container" *ngIf="posts$ | async as posts; else loading">
  <mat-card id="cardMarketplace">
    <h2 id="textMarketPLace">Marketplace</h2>
  </mat-card>

  <mat-card id="cardAboutMarketplace">
    <h2 id="textAboutMarketPLace">Aqui encontraras a los Solicitantes</h2>
    <img
      id="imageAboutMaketplace"
      src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/userHomePage%2FActive%20Support.gif?alt=media&token=de8c3f52-3a25-4ebb-a7b1-2a65d13c456b"
      alt=""
    />
  </mat-card>

  <mat-card
    class="postCard"
    *ngFor="let post of posts"
    [routerLink]="['/post', post.id]"
  >
    <div>
      <h3 class="infoCardText" mat-flat-button disabled>
        Solicitante: {{ post.nameUser }}
      </h3>

      <mat-card class="postCard">
        <h3 class="infoCardText" mat-flat-button disabled>
          Tipo Prestamo: {{ post.tagsPost }}
        </h3>

        <h3 class="infoCardText" mat-flat-button disabled>
          Cantidad: ${{ post.moneyPost }} Pesos
        </h3>

        <h3 class="infoCardText" mat-flat-button disabled>
          Tiempo: {{ post.monthPost }} Meses
        </h3>
      </mat-card>
    </div>
  </mat-card>
</div>

<!-------------------------------------------------------------------------------------------------------->

<ng-template #loading>
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
