<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img
    id="logo"
    src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/LogoBlanco.png?alt=media&token=a871434b-08de-454b-ae8c-57abda9922f7"
    alt="buscocredito logo "
    loading="lazy"
  />

  <button
    style="background-color: transparent; border: none"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>

    <li class="nav-item form-inline my-2 my-lg-0">
      <a style="color: white" class="nav-link" routerLink="/user">Inicio</a>

      <ng-template #showLogin>
        <a
          style="color: white"
          class="nav-link"
          routerLink="/login"
          routerLinkActive="active"
          >Iniciar Sesion</a
        >

        <a
          style="color: white"
          class="nav-link"
          routerLink="/register"
          routerLinkActive="active"
          >Registrarse</a
        >
      </ng-template>
      <a
        style="color: white"
        class="nav-link"
        routerLink="/login"
        (click)="onLogout()"
        >Cerrar Sesion</a
      >
    </li>
  </div>
</nav>

<!-------------------------------------------------------------------------------------------------------------------------->

<mat-card class="headCard">
  <div class="container">
    <h1 class="headCardTextTop">BuscoCredito</h1>

    <img
      src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/userHomePage%2FSavings.gif?alt=media&token=e500042d-70e8-45b5-96c5-92e049563c66"
      class="rounded mx-auto d-block"
      id="headLogo"
    />
    <button mat-raised-button class="crearSolicitud" (click)="onNewPost()">
      Solicitar Crédito
    </button>
  </div>
</mat-card>



<!-------------------------------------------------------------------------------------------------------------------------->

<mat-card class="cardMisCreditos">
  <div class="container">
    <mat-form-field [formGroup]="newPostForm" class="buttonVerMisCreditos">
      <mat-label class="verCreditosText">Ver Mis Créditos</mat-label>
      <input
        readonly
        class="solicitedCreditsButton"
        matInput
        (click)="applyFilter($event); myFunction()"
        #input
        formControlName="email"
      />
    </mat-form-field>

    <div id="myDIV">
      <h3 id="textCreditosSolicitados">Créditos Solicitados:</h3>
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <!--  -->
        <ng-container matColumnDef="nameUser">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <!--mat-sort-header  -->
        <ng-container matColumnDef="moneyPost">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let element">$ {{ element.montoSolicitado }}</td>
        </ng-container>

        <!--  -->
        <ng-container matColumnDef="tagsPost">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let element">{{ element.tipoCredito }}</td>
        </ng-container>

        <!--  -->
        <ng-container matColumnDef="monthPost">
          <th mat-header-cell *matHeaderCellDef>Meses</th>
          <td mat-cell *matCellDef="let element">{{ element.plazo }}</td>
        </ng-container>

        <!-------------------------------------------------------------------------------------------------------------------------->

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-stroked-button
              color="warn"
              (click)="onDeletePost(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-------------------------------------------------------------------------------------------------------------------------->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-------------------------------------------------------------------------------------------------------------------------->
        <!-- NOT FOUND. -->

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No Ha Solicitado Créditos</td>
        </tr>

        <!-------------------------------------------------------------------------------------------------------------------------->
      </table>

      

    </div>

    <div *ngFor="let doc of datos" class="cardNotifiaciones">
      <div *ngIf="doc.email === usuarioEmail && doc.oferta === true">
        <mat-card>
          <h2>¡ Te han Ofrecido un Crédito !</h2>
          <h3>Monto Ofrecido: {{doc.montoOfrecido}}</h3>
          <h3>Plazo Ofrecido: {{doc.plazoOfrecido}}</h3>
          <h3>Taza Anual: {{doc.tasaAnualOfrecer}}</h3>
          <h3>Comisión por Apertura: {{doc.comisionApertura}}</h3>
          <h3>Seguro de Vida: {{doc.precioSeguroVida}}</h3>
          <h3>Amortización: {{doc.amortizacion}}</h3>
          <button mat-button id="acceptCreditButton" (click)="aceptarCredito()">Aceptar Crédito</button>
        </mat-card>
      </div>
      
      
    </div>

    <!-------------------------------------------------------------------------------------------------------------------------->
  </div>
</mat-card>
<!-------------------------------------------------------------------------------------------------------------------------->

<mat-card id="cardBottom">
  <h2 id="cardBottomTextAbout">
    En BuscoCredito encuentras tu credito de manera segura y sencilla
  </h2>
</mat-card>

<mat-card class="headCard" id="callCard">
  <div class="container">
    <h2 class="textos">¿Necesitas Ayuda?</h2>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/userHomePage%2FCall%20center-cuate.png?alt=media&token=36e3cdd8-e64a-40e3-a2d2-b7f76ebeaa8d"
      class="rounded mx-auto d-block"
      id="headLogo"
    />
    <h2 class="textos">01-800-BuscoCredito</h2>
  </div>
</mat-card>
