
.crearSolicitud{
    margin-bottom: 25px;
    text-align: center;
    background-color: #343a40;
    color: white;
    font-size: 25px;
    margin-top: -12px;
    width: 90%;
    margin:  0 auto;
    display: block;
    margin-bottom: 15px;
}

.crearSolicitud2{
  margin-bottom: 25px;
    text-align: center;
    background-color: #005727;
    color: white;
    font-size: 25px;
    margin-top: -12px;
    width: 90%;
    margin:  0 auto;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 15px;
}

.crearSolicitud3{
  margin-top: 12px;
  margin-bottom: 25px;
  text-align: center;
  background-color: #343a40;
  color:transparent;
  font-size: 15px;
  border-radius: 5px;
  
.verCreditos{
  color: white;
  font-size: 35px;
  
}

 .solicitedCreditsButton{
  cursor: pointer;
  color: transparent;
}

}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
  color: transparent;
}



  button{
    width: 12%;
    color: white;
    background: white;
    cursor: pointer;
  }


   .solicitedCredits{
    margin-top: 2px !important;
}


td{
  text-align: center;
  margin-left: 25px;
}

._ngcontent-efh-c183{
  text-align: center;
  margin-left: 25px;
}

