.welcomeText {
  text-align: center;
  background: #F2F2F2;


}
.crearSolicitud{
  margin-bottom: 25px;
  text-align: center;
  background-color: #85A663;
  color: white;
  font-size: 25px;
  margin-top: -12px;
  width: 90%;
  margin:  0 auto;
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
  margin-top: 15px;
}

.buttonVerMisCreditos{
  margin-top: 12px;
  margin-bottom: 25px;
  text-align: center;
  background-color:#0D0D0D;
  color:transparent;
  font-size: 15px;
  border-radius: 5px;
  width: 90% !important;

  
.verCreditosText{
  color: white;
  font-size: 35px;

}

 .solicitedCreditsButton{
  cursor: pointer;
  color: transparent;
}

}

table {
  width: 125%;
  margin-left: -38px;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
  color: transparent;
}

  button{
    width: 12%;
    color: white;
    background: white;
    cursor: pointer;
  }

._ngcontent-efh-c183{
  text-align: center;
  margin-left: 25px;
}


.jumbotron{
  text-align: center;
  
}