<main class="nav">
	<div class="row">
		<div class="sidebar text-center">
			<img src="https://pbs.twimg.com/profile_images/659415494663892993/pvVx6k98_400x400.png" class="img-circle"
				height="100px" width="100px">
			<h3 style="color: black;">Banorte</h3>

			<mat-form-field [formGroup]="newPostForm" class="crearSolicitud3">
				<mat-label class="verCreditos">Mis Creditos</mat-label>
				<input readonly class="solicitedCreditsButton" matInput
					(click)="applyFilter2($event);DisplayTableCredits()" #input formControlName="email">
			</mat-form-field>

			<mat-form-field [formGroup]="newPostForm" class="crearSolicitud3">
				<mat-label class="verCreditos">Trabajadores</mat-label>
				<input readonly class="solicitedCreditsButton" matInput
					(click)="applyFilter($event);DisplayTableWorkers()" #input formControlName="email">
			</mat-form-field>

		</div>

		<div class="content">


			<!-------------------------------------------------------------------------------------------------------------------------->

			<mat-card class="creditosSolicitados">
				<h1>Bienvenido</h1>
				<div class="contianer-btn-new">
					<button mat-stroked-button (click)="openDialogRegister()">
						<mat-icon>note_add</mat-icon>&nbsp; Nuevo Trabajador
					</button>
				</div>
			</mat-card>

			<!-------------------------------------------------------------------------------------------------------------------------->

			<div id="divCredits">
				<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" matSort>


					<ng-container matColumnDef="nameUser">
						<th mat-header-cell *matHeaderCellDef> Nombre </th>
						<td mat-cell *matCellDef="let element">{{element.nameUser}}</td>
					</ng-container>


					<ng-container matColumnDef="moneyPost">
						<th mat-header-cell *matHeaderCellDef> Dinero </th>
						<td mat-cell *matCellDef="let element"> $ {{element.moneyPost}} </td>
					</ng-container>


					<ng-container matColumnDef="tagsPost">
						<th mat-header-cell *matHeaderCellDef> Tipo de Prestamo </th>
						<td mat-cell *matCellDef="let element"> {{element.tagsPost}} </td>
					</ng-container>


					<ng-container matColumnDef="monthPost">
						<th mat-header-cell *matHeaderCellDef> Meses </th>
						<td mat-cell *matCellDef="let element"> {{element.monthPost}} </td>
					</ng-container>





					<!-------------------------------------------------------------------------------------------------------------------------->

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> Acciones </th>
						<td mat-cell *matCellDef="let element">

							<!--
            <button mat-stroked-button (click)="onEditPost(element)">
                <mat-icon>edit</mat-icon>
            </button>
-->
							<button mat-stroked-button color="warn" (click)="onDeletePost(element)">
								<mat-icon>delete</mat-icon>
							</button>

						</td>
					</ng-container>

					<!-------------------------------------------------------------------------------------------------------------------------->

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

					<!-------------------------------------------------------------------------------------------------------------------------->
					<!-- NOT FOUND. -->
					<tr class="mat-row" *matNoDataRow>
						<td class="mat-cell" colspan="4">No Ha Solicitado Creditos</td>
					</tr>
					<!-------------------------------------------------------------------------------------------------------------------------->
				</table>
			</div>

			<!-------------------------------------------------------------------------------------------------------------------------->

			<div id="divWorkers">
				<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

					<!--  -->
					<ng-container matColumnDef="nameUser">
						<th mat-header-cell *matHeaderCellDef> Nombre </th>
						<td mat-cell *matCellDef="let element">{{element.nameUser}}</td>
					</ng-container>

					<!--mat-sort-header  -->
					<ng-container matColumnDef="moneyPost">
						<th mat-header-cell *matHeaderCellDef> Correo Electronico </th>
						<td mat-cell *matCellDef="let element"> {{element.email}} </td>
					</ng-container>

					<!--  -->
					<ng-container matColumnDef="tagsPost">
						<th mat-header-cell *matHeaderCellDef> Ciudad </th>
						<td mat-cell *matCellDef="let element"> {{element.Ciudad}} </td>
					</ng-container>

					<!--  -->
					<ng-container matColumnDef="monthPost">
						<th mat-header-cell *matHeaderCellDef> Antiguedad </th>
						<td mat-cell *matCellDef="let element"> {{element.monthPost}} </td>
					</ng-container>

					<!-------------------------------------------------------------------------------------------------------------------------->

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef>Acciones </th>
						<td mat-cell *matCellDef="let element">

							<!--
				<button mat-stroked-button (click)="onEditPost(element)">
					<mat-icon>edit</mat-icon>
				</button>
	-->
							<button mat-stroked-button color="warn" (click)="onDeletePost(element)">
								<mat-icon>delete</mat-icon>
							</button>

						</td>
					</ng-container>

					<!-------------------------------------------------------------------------------------------------------------------------->
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

					<!-------------------------------------------------------------------------------------------------------------------------->
					<!-- NOT FOUND. -->
					<tr class="mat-row" *matNoDataRow>
						<td class="mat-cell" colspan="4">No Tiene Trabajadores</td>
					</tr>
					<!-------------------------------------------------------------------------------------------------------------------------->
				</table>
			</div>
			<!-------------------------------------------------------------------------------------------------------------------------->


		</div>
	</div>