<main class="nav">
	<div class="row">
		<div class="sidebar text-center">
			<img src="https://pbs.twimg.com/profile_images/1197537334499139586/y1ekeuDN.jpg" class="img-circle"
				height="100px" width="100px">
			<h3 style="color: black;">Banorte</h3>

			<mat-form-field [formGroup]="newPostForm" class="crearSolicitud3">
				<mat-label class="verCreditos">Mis Creditos</mat-label>
				<input readonly class="solicitedCreditsButton" matInput (click)="applyFilter($event);myFunction()"
					#input formControlName="email">
			</mat-form-field>

			<mat-form-field [formGroup]="newPostForm" class="crearSolicitud3">
				<mat-label class="verCreditos">Trabajadores</mat-label>
				<input readonly class="solicitedCreditsButton" matInput (click)="applyFilter($event);myFunction()"
					#input formControlName="email">
			</mat-form-field>

		</div>

		<div class="content">


			<!-------------------------------------------------------------------------------------------------------------------------->

			<mat-card class="creditosSolicitados">Creditos Solicitados</mat-card>

			<!-------------------------------------------------------------------------------------------------------------------------->
<div id="myDIV">
			<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort  >

				<!--  -->
				<ng-container matColumnDef="nameUser">
					<th mat-header-cell *matHeaderCellDef> Nombre </th>
					<td mat-cell *matCellDef="let element">{{element.nameUser}}</td>
				</ng-container>

				<!--mat-sort-header  -->
				<ng-container matColumnDef="moneyPost">
					<th mat-header-cell *matHeaderCellDef> Dinero </th>
					<td mat-cell *matCellDef="let element"> $ {{element.moneyPost}} </td>
				</ng-container>

				<!--  -->
				<ng-container matColumnDef="tagsPost">
					<th mat-header-cell *matHeaderCellDef> Tipo de Prestamo </th>
					<td mat-cell *matCellDef="let element"> {{element.tagsPost}} </td>
				</ng-container>

				<!--  -->
				<ng-container matColumnDef="monthPost">
					<th mat-header-cell *matHeaderCellDef> Meses </th>
					<td mat-cell *matCellDef="let element"> {{element.monthPost}} </td>
				</ng-container>

				<!-------------------------------------------------------------------------------------------------------------------------->

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef> </th>
					<td mat-cell *matCellDef="let element">

						<!--
            <button mat-stroked-button (click)="onEditPost(element)">
                <mat-icon>edit</mat-icon>
            </button>
-->
						<button mat-stroked-button color="warn" (click)="onDeletePost(element)">
							<mat-icon>delete</mat-icon>
						</button>

					</td>
				</ng-container>

				<!-------------------------------------------------------------------------------------------------------------------------->
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

				<!-------------------------------------------------------------------------------------------------------------------------->
				<!-- NOT FOUND. -->
				<tr class="mat-row" *matNoDataRow>
					<td class="mat-cell" colspan="4">No Ha Solicitado Creditos</td>
				</tr>
				<!-------------------------------------------------------------------------------------------------------------------------->
			</table>
</div>
			<!-------------------------------------------------------------------------------------------------------------------------->




		</div>
	</div>