$dark: #343a40;
$green: #02730a;
$white: #f2f2f2;
$yellow: #f7ce68;

// NavBar
#logo {
    height: 40px;
    width: 68px;
    margin-right: auto;
    display: flex;
  }
  
.container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 15px;
  justify-content: center;
}

.post-card {
  background: gray;
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

  img {
    height: 220px;
    width: 200px;
    margin-left: 60px;
  }

  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }

  p.content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

html,
body,
main.nav {
  height: 100%;
}

main.nav {
  display: table;
  width: 100%;
  margin-top: -50px;
  padding: 0;
  /*set left/right padding according to needs*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main .row {
  height: 100%;
  display: table-row;
}

main .sidebar {
  display: table-cell;
  width: 200px;
  background: $dark;
  color: #aaa;
  padding-top: 20px;

}

main .content {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 20px;
}

.img-circle {
  margin-top: 60px !important;
  border-radius: 50%;
}

.crearSolicitud3 {
  margin-top: 12px;
  margin-bottom: 25px;
  text-align: center;
  background-color: $white;
  color: transparent;
  font-size: 15px;
  border-radius: 5px;

  .verCreditos {
    color: black;
    font-size: 35px;
  }

  .solicitedCreditsButton {
    cursor: pointer;
    color: transparent;
  }
}

.creditosSolicitados {
  margin-top: 50px;
  width: 95%;
  text-align: center;
  margin-left: 35px;
  background-color: $dark;
  color: white;
  margin-bottom: 80px;
}

table,
.paginator {
  width: 90%;
  margin: 1rem 5rem;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
  color: transparent;
}

.contianer-btn-new {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem -2rem;
  margin-top: -50px;

  button {
    width: 12%;
    color: white;
    background: $green;
    cursor: pointer;
  }
}
