.container{
    margin-top:  25px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    grid-column-gap: 15px;
    justify-content: center;

}

.post-card{
    background: gray;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

    img{
        height: 220px;
        width: 200px;
        margin-left: 60px;
    }

    a{
        cursor: pointer;
        color: white;
        text-decoration: none;
    }

    p.content{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}