/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}


.sport{
    background: blue !important;

}

.life{
    background: orangered !important;
}

.style{
    background: red !important;
}

.mat-chip.mat-standard-chip{
    min-height: 2rem;
    min-width: 4rem;
    padding: 5px;
    
}
