<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<div *ngIf="isAdmin == true  ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--  <img style="margin-right: 3px;"
        src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/logoBuscoCredito.png?alt=media&token=60230461-6d50-4fe0-bb99-d415c4f41dbd"
        width="76" height="45" class="d-inline-block align-top" alt="" loading="lazy">
-->
        <a class="navbar-brand" href="/login">BuscoCredito.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <!-------------------------------------------------------------------------------------------------------------------------->

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <!--    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a> -->
                </li>
            </ul>

            <!-------------------------------------------------------------------------------------------------------------------------->

            <li class="nav-item form-inline my-2 my-lg-0">
                <a style="color: white;" class="nav-link " routerLink="/homeUser"
                    *ngIf="authSvc.userData$ | async">Inicio</a>


                <ng-template #showLogin>
                    <a style="color: white;" class="nav-link " routerLink="/login" routerLinkActive="active">Iniciar
                        Sesion</a>

                    <a style="color: white;" class="nav-link " routerLink="/register"
                        routerLinkActive="active">Registrarse</a>
                </ng-template>


                <a style="color: white;" class="nav-link " routerLink="/profile" routerLinkActive="active"
                    *ngIf="authSvc.userData$ | async">Perfil</a>

                <a style="color: white;" class="nav-link " routerLink="/about"
                    *ngIf="authSvc.userData$ | async">Administrador</a>

                <a style="color: white;" class="nav-link " routerLink="/login"
                    *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">Cerrar Sesion</a>


            </li>
            <!-------------------------------------------------------------------------------------------------------------------------->

        </div>
    </nav>
</div>

<div *ngIf="isUser == true ">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!--  <img style="margin-right: 3px;"
        src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/logoBuscoCredito.png?alt=media&token=60230461-6d50-4fe0-bb99-d415c4f41dbd"
        width="76" height="45" class="d-inline-block align-top" alt="" loading="lazy">
-->
            <a class="navbar-brand" href="/login">BuscoCredito.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-------------------------------------------------------------------------------------------------------------------------->

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <!--    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a> -->
                    </li>
                </ul>

                <!-------------------------------------------------------------------------------------------------------------------------->

                <li class="nav-item form-inline my-2 my-lg-0">
                    <a style="color: white;" class="nav-link " routerLink="/userWall"
                        *ngIf="authSvc.userData$ | async">Inicio</a>


                    <ng-template #showLogin>
                        <a style="color: white;" class="nav-link " routerLink="/login" routerLinkActive="active">Iniciar
                            Sesion</a>

                        <a style="color: white;" class="nav-link " routerLink="/register"
                            routerLinkActive="active">Registrarse</a>
                    </ng-template>


                    <a style="color: white;" class="nav-link " routerLink="/profile" routerLinkActive="active"
                        *ngIf="authSvc.userData$ | async">Perfil</a>



                    <a style="color: white;" class="nav-link " routerLink="/login"
                        *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">Cerrar Sesion</a>


                </li>
                <!-------------------------------------------------------------------------------------------------------------------------->

            </div>
        </nav>
</div>


<nav  class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isAdmin == false && isUser == false ">
    <!--  <img style="margin-right: 3px;"
src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/logoBuscoCredito.png?alt=media&token=60230461-6d50-4fe0-bb99-d415c4f41dbd"
width="76" height="45" class="d-inline-block align-top" alt="" loading="lazy">
-->
    <a class="navbar-brand" href="/login">BuscoCredito.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <!-------------------------------------------------------------------------------------------------------------------------->

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <!--    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a> -->
            </li>
        </ul>

        <!-------------------------------------------------------------------------------------------------------------------------->

        <li class="nav-item form-inline my-2 my-lg-0">
            <a style="color: white;" class="nav-link " routerLink="/homeUser"
                *ngIf="authSvc.userData$ | async">Inicio</a>


            <ng-template #showLogin>
                <a style="color: white;" class="nav-link " routerLink="/login" routerLinkActive="active">Iniciar
                    Sesion</a>

                <a style="color: white;" class="nav-link " routerLink="/register"
                    routerLinkActive="active">Registrarse</a>
            </ng-template>


            <a style="color: white;" class="nav-link " routerLink="/profile" routerLinkActive="active"
                *ngIf="authSvc.userData$ | async">Perfil</a>



            <a style="color: white;" class="nav-link " routerLink="/login"
                *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">Cerrar Sesion</a>


        </li>
        <!-------------------------------------------------------------------------------------------------------------------------->

    </div>
</nav>

