



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BuscoCredito</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <!-------------------------------------------------------------------------------------------------------------------------->

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <!--    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a> -->
            </li>
        </ul>

        <!-------------------------------------------------------------------------------------------------------------------------->

        <li class="nav-item form-inline my-2 my-lg-0">

            <a style="color: white;" class="nav-link " routerLink="/login" *ngIf="authSvc.userData | async; else showLogin" (click)="onLogout()">Logout</a>

            <ng-template #showLogin>
                <a style="color: white;" class="nav-link " routerLink="/login" routerLinkActive="active">Iniciar Sesion</a>
            </ng-template>


            <a style="color: white;" class="nav-link " routerLink="/admin" routerLinkActive="active" *ngIf="authSvc.userData | async">Perfil</a>

            <a style="color: white;" class="nav-link " routerLink="/about" routerLinkActive="active">Conocenos</a>
        </li>

        <!-------------------------------------------------------------------------------------------------------------------------->

    </div>
</nav>



<!--
     <mat-toolbar color="primary">

  <a routerLink="/" routerLinkActive="active">PaginaWeb</a>

    <a *ngIf="authSvc.userData | async; else showLogin" (click)="onLogout()">Logout</a>

    <ng-template #showLogin>
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </ng-template>


    <a routerLink="/admin" routerLinkActive="active" *ngIf="authSvc.userData | async">Admin</a>

    <a routerLink="/about" routerLinkActive="active">About</a>

</mat-toolbar>
-->

<!--
<p>
    <mat-toolbar class="toolbarColor">
        <span class="toolbarTextColor">BuscoCredito</span>


        <button class="bottonToolbar" mat-raised-button routerLink="/login"
            *ngIf="authSvc.userData | async; else showLogin" (click)="onLogout()">Logout</button>

        <ng-template #showLogin>
            <button class="bottonToolbar" mat-raised-button routerLink="/login" routerLinkActive="active">Login</button>
        </ng-template>

        <button class="bottonToolbar" mat-raised-button routerLink="/about" routerLinkActive="active">About</button>

    </mat-toolbar>
</p>

-->