<!-- NAVBAR  -->
<nav class="navbar navbar-light bg-dark" id="navBar">

    <img id="logo" src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/LogoBlanco.png?alt=media&token=a871434b-08de-454b-ae8c-57abda9922f7" alt="buscocredito logo " loading="lazy">
</nav>
<!-- END NAVBAR  -->

<!-- JUMBOTRON TOP  -->
<div class="jumbotron jumbotron-fluid" style="margin-bottom: -1rem;">
  <div class="container">
    <div style="text-align: center">
      <h1 class="display-4">Busco Credito</h1>
      <p class="lead">Encuentra tu Credito Facil y Gratis.</p>
    </div>
    
  </div>
  
      <button type="button" class="btn btn-secondary btn-lg butttonStart"><a href="/register" style="text-decoration: none; color: white;">Comenzar</a></button>

  
</div>
<!-- END JUMBOTRON TOP  -->

<!-- CARDS TOP WELCOME PAGE-->
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" style="margin-top: -2rem;">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
        <div class="my-3 py-3">
            <h2 class="display-5">Gratis</h2>
            <p class="lead">No tienes porque pagar para obtener un credito.</p>
        <div class="text-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/userHomePage%2FCredit%20card.gif?alt=media&token=db355bb1-ebaa-471d-8d43-28b8b90f2add" class="imagesCard rounded " alt="...">
    </div>
</div>
</div>

<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
    <div class="my-3 py-3">
        <h2 class="display-5">Seguro</h2>
        <p class="lead">Tu seguridad es lo mas Importante para nosotros.</p>
    <div class="text-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/userHomePage%2FFamily.gif?alt=media&token=821b0412-435d-43fc-9055-869fa7a2d2f3" class="imagesCard rounded " alt="...">
</div>
</div>
</div>

<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
    <div class="my-3 py-3">
        <h2 class="display-5">Facil</h2>
        <p class="lead">Obtener un credito jamas fue tan sencillo.</p>
    <div class="text-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/userHomePage%2FLive%20collaboration.gif?alt=media&token=16c7e623-3a3c-4e2a-a914-2d00d078cae7" class="imagesCard rounded " alt="...">
</div>
</div>
</div>
<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
    <div class="my-3 py-3">
        <h2 class="display-5">Elige</h2>
        <p class="lead">Tu dices que banco te prestara.</p>
    <div class="text-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/userHomePage%2FSelect.gif?alt=media&token=5d602c8b-f30b-4217-b9fe-0eae2cf0c3b1" class="imagesCard rounded " alt="...">
</div>
</div>
</div>
</div>
<!-- END CARDS TOP WELCOME PAGE-->

<!-- JUMBOTRON BOTTOM  -->
<div class="jumbotron jumbotron-fluid" id="jumbotronBottomGray">
    <div class="container">
      <div>
        <h1 class="display-4" id="jumbotronBottomText">Obtener un Credito</h1>
        <p class="lead" id="jumbotronP">Desde tu computadora.</p>
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON BOTTOM  -->  

  <!-- SECOND JUMBOTRON YELLOW  -->
<div class="jumbotron jumbotron-fluid" id="jumbotronBottomYellow">
    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden cardsTop">
                <div class="my-3 py-3">
                    <h1 class="display-5" id="jumbotronBottomTxt">En busco credito deseamos que obtengas tu credito de manera eficiente y segura</h1>
                    <p class="lead"></p>
                <div class="text-center">
            </div>
        </div>
        </div>
        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
            <div class="my-3 py-3">

            <div class="text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/homePage%2Fkids.jpg?alt=media&token=41499dc7-dea4-4b1e-bfd8-f7d0044c7518" class="jumbotronBottomImage rounded " alt="...">
        </div>
    </div>
    </div>
        </div>
    </div>
  </div>
  <!-- END SECOND JUMBOTRON YELLOW  -->

    <!-- SECOND JUMBOTRON GRAY  -->
<div class="designBackground jumbotron jumbotron-fluid" id="jumbotronBottomGray-2">
    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden cardsTop">
                <div class="my-3 py-3">
                    <h1 class="display-5" id="jumbotronBottomTxt">Tu eliges que Banco te Prestara</h1>
                    <p class="lead" style="color: white;">Solo dinos cuanto necesitas y los bancos iran ati</p>
                <div class="text-center">
            </div>
        </div>
        </div>
        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
            <div class="my-3 py-3">

            <div class="text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/homePage%2Fdinero.jpg?alt=media&token=bfb1097e-9f37-4501-b770-d755217a79c6" class="jumbotronBottomImage rounded " alt="...">
        </div>
    </div>
    </div>
        </div>
    </div>
  </div>
  <!-- END SECOND JUMBOTRON GRAY  -->

  <div class="alert alert-dark" role="alert" style="text-align: center;margin-top: -2rem;">
    <h2 style="margin-top: 0.8rem;">Todos los Derechos Reservados© BuscoCredito</h2>
  </div>