<!-- NAVBAR  -->
<nav class="navbar navbar-light bg-dark" id="navBar">

    <img id="logo" src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/LogoBlanco.png?alt=media&token=a871434b-08de-454b-ae8c-57abda9922f7" alt="buscocredito logo " loading="lazy">
</nav>
<!-- END NAVBAR  -->

<!-- JUMBOTRON TOP  -->
<div class="jumbotron jumbotron-fluid" style="margin-bottom: -1rem;">
  <div class="container">
    <div style="text-align: center">
      <h1 class="display-4">Busco Credito</h1>
      <p class="lead">Encuentra tu Credito Facil y Gratis.</p>
    </div>
    
  </div>
  <a href="/login" style="text-decoration: none;">
      <button type="button" class="btn btn-secondary btn-lg butttonStart">Comenzar</button>
  </a>
  
</div>
<!-- END JUMBOTRON TOP  -->

<!-- CARDS TOP WELCOME PAGE-->
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" style="margin-top: -2rem;">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
        <div class="my-3 py-3">
            <h2 class="display-5">Gratis</h2>
            <p class="lead">No tienes porque pagar para obtener un credito.</p>
        <div class="text-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/Presentable%20Green.jpg?alt=media&token=292107d7-4470-423a-a34b-f2c347462744" class="imagesCard rounded " alt="...">
    </div>
</div>
</div>

<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
    <div class="my-3 py-3">
        <h2 class="display-5">Seguro</h2>
        <p class="lead">Tu seguridad es lo mas Importante para nosotros.</p>
    <div class="text-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/homePage%2Fsafe.jpg?alt=media&token=bde51c17-8b13-4433-8027-730b53c4f978" class="imagesCard rounded " alt="...">
</div>
</div>
</div>

<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
    <div class="my-3 py-3">
        <h2 class="display-5">Facil</h2>
        <p class="lead">Muy facil de utilizar.</p>
    <div class="text-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/homePage%2Feasy.jpg?alt=media&token=03106a7d-ee0c-4515-8c2b-1e55ff61ac35" class="imagesCard rounded " alt="...">
</div>
</div>
</div>
<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
    <div class="my-3 py-3">
        <h2 class="display-5">Elige</h2>
        <p class="lead">Tu eliges que banco te prestara.</p>
    <div class="text-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/homePage%2Fselect.jpg?alt=media&token=629fe3c8-3e16-4db0-870f-3956276d1200" class="imagesCard rounded " alt="...">
</div>
</div>
</div>
</div>
<!-- END CARDS TOP WELCOME PAGE-->

<!-- JUMBOTRON BOTTOM  -->
<div class="jumbotron jumbotron-fluid" id="jumbotronBottomGray">
    <div class="container">
      <div>
        <h1 class="display-4" id="jumbotronBottomText">Obtener tu Credito</h1>
        <p class="lead" id="jumbotronP">Jamaz fue tan facil.</p>
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON BOTTOM  -->  

  <!-- SECOND JUMBOTRON YELLOW  -->
<div class="jumbotron jumbotron-fluid" id="jumbotronBottomYellow">
    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden cardsTop">
                <div class="my-3 py-3">
                    <h1 class="display-5" id="jumbotronBottomTxt">En busco credito deseamos que obtengas tu credito de manera eficiente y segura</h1>
                    <p class="lead"></p>
                <div class="text-center">
            </div>
        </div>
        </div>
        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
            <div class="my-3 py-3">

            <div class="text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/homePage%2Fkids.jpg?alt=media&token=41499dc7-dea4-4b1e-bfd8-f7d0044c7518" class="jumbotronBottomImage rounded " alt="...">
        </div>
    </div>
    </div>
        </div>
    </div>
  </div>
  <!-- END SECOND JUMBOTRON YELLOW  -->

    <!-- SECOND JUMBOTRON GRAY  -->
<div class="designBackground jumbotron jumbotron-fluid" id="jumbotronBottomGray-2">
    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden cardsTop">
                <div class="my-3 py-3">
                    <h1 class="display-5" id="jumbotronBottomTxt">Tu eliges que Banco te Prestara</h1>
                    <p class="lead" style="color: white;">Solo dinos cuanto necesitas y los bancos iran ati</p>
                <div class="text-center">
            </div>
        </div>
        </div>
        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden cardsTop">
            <div class="my-3 py-3">

            <div class="text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/buscocredito-c380b.appspot.com/o/homePage%2Fdinero.jpg?alt=media&token=bfb1097e-9f37-4501-b770-d755217a79c6" class="jumbotronBottomImage rounded " alt="...">
        </div>
    </div>
    </div>
        </div>
    </div>
  </div>
  <!-- END SECOND JUMBOTRON GRAY  -->

  <div class="alert alert-dark" role="alert" style="text-align: center;margin-top: -2rem;">
    <h2 style="margin-top: 0.8rem;">Todos los Derechos Reservados© BuscoCredito</h2>
  </div>